<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="gunicorn" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\site\wwwroot\startup" />
    </handlers>
    <httpPlatform processPath="D:\home\site\wwwroot\startup" stdoutLogEnabled="true" stdoutLogFile="stdout" startupCommand="gunicorn 'app:create_app()' --workers=4 --bind=0.0.0.0:8000" />
  </system.webServer>
</configuration>